* {
	margin: 0px;
	padding: 0px;
	/*border: 1px solid rgba(0, 0, 0, 0.3);*/
}
a {
	text-decoration: none;
}
/*******************************************/
#div1 {
    /*width: 62.5%;*/
    width: 1200px;
    margin: 0px auto;
}
/*******************************************/
#header {
    width: 100%;
    height: 90px;
    background: #11A18A;
    margin-bottom: 10px;
}
#header h1 a {
	float: left;
    padding-left: 10px;
	line-height: 90px;
	color: white;
}
#header p {
	font-size: 1em;
	/*margin: 0px 10px 10px 0px;*/
	/*line-height: 20px;*/
	margin: 0px 10px 11px 0px;
	line-height: 0.85em;
	letter-spacing: 6px;
	direction: rtl;
	color: white;
}
/*******************************************/
#nav {
	width: 210px;
	float: left;
    font-size: 18px;
    margin-left: 10px;
    margin-top: 10px;
    margin-right: 10px;
}
#nav ul li{
    list-style-type: none;
	position: relative;
	border: 1px solid white;
	margin-bottom: 1px;
	border-radius: 15px;
	background: #729fcf;
}
#nav ul li a {
	color: white;
    display: block;	
    text-align: center;
}
#nav ul li:hover {
	background: skyblue;
}
#nav ul li ul {
	display: none;
}
#nav ul li:hover ul.class1 {
    display: block;
    position: absolute;
}
#nav ul li ul.class1 {
	left: 100%;
	top: 0px;
}
#nav ul li ul li {
	width: 200px;
}
/*******************************************/
#article {
	width: 968px;
	float: right;
	margin-top: 10px;
	/*border: 1px solid black;*/
}




