body {
	/*background: -webkit-linear-gradient(left top,rgba(122, 125, 160, 0.5),rgba(227, 237, 242, 0.5));
	background: -moz-linear-gradient(bottom right,rgba(122, 125, 160, 0.5),rgba(227, 237, 242, 0.5));
	background: -o-linear-gradient(bottom right,rgba(122, 125, 160, 0.5),rgba(227, 237, 242, 0.5));
	background: -linear-gradient(to bottom right,rgba(122, 125, 160, 0.5),rgba(227, 237, 242, 0.5));
	background-size: cover;
	background-attachment: fixed;*/
	background-color: blanchedalmond;
}
.map .mp{
	margin-top: 15px;
}
div.map div.mp img {
	position: absolute;
	z-index: -1;
	max-width: 100%;
}
.p {
    line-height: 20px;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 270px 0px 0px 220px;
}
.dp {
	border: 1px solid black;
	width: 225px;
	background: white;
	text-align: center;
}
.dpt {
	font-size: 1em;
	
}
.dp a {
	color: rgba(59, 58, 54, 0.7);
}
.dp a:hover {
	color: rgb(60, 60, 60);
	font-weight: 500;
}