body {
	/*background: url("../img/2.png") no-repeat;*/
	/*background-color: #98dafc;*/
	background: -webkit-linear-gradient(left top,rgba(122, 125, 160, 0.5),rgba(227, 237, 242, 0.5));
	/*background: -webkit-radial-gradient(circle,#98dafc,#22264b);*/
	background-size: cover;
	background-attachment: fixed;
}
.map .mp{
	margin-top: 15px;
	direction: rtl;
}
div.map div.mp img {
	position: absolute;
	z-index: -1;
	max-width: 100%;
}
.p {
    line-height: 20px;
    letter-spacing: 2px;
    font-size: 14px;
    padding: 235px 80px 0px 0px;
}
.dp {
	border: 1px solid black;
	width: 215px;
	background: white;
	text-align: right;
}
.dpt {
	font-size: 1em;
	
}
.dp a {
	color: rgba(59, 58, 54, 0.7);
}
.dp a:hover {
	color: rgb(60, 60, 60);
	font-weight: 500;
}