/*screen >= 1000*/
@import url('https://fonts.googleapis.com/css?family=Calligraffitti');
@media only screen and (min-width: 1000px){
.cennav {display: none;}
#nav {
    margin-top: 10px;
    height: 100%;
    min-width: 150px;
}
#nav ul {
    list-style-type: none;
}
#nav li {
    font-size: 20px;
    margin-bottom: 7px;
    line-height: 35px;
    margin-left: 33px;
}
#nav ul li a {
    color: rgba(0, 0, 0, 0.7);
    display: block;
}
#nav ul li ul {
    left: 100%;
    top: 0px;
}
#nav ul li ul li {
	font-size: 18px;
}
#nav ul li ul li a:hover {
	font-family: 'Calligraffitti', cursive;
    transition: 0.2s;
    color: #125c75;
    font-weight: 600;
}}