body {
	background-color: blanchedalmond;
}
#main {
    width: 100%;
}
.ex {
    width: 20%;
    min-width: 160px;
    border: 1px solid #ccc;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
    color: black;
}
a img {
    width: 100%;
}
a p {
    text-align: center;
    padding: 15px;
}
.ex:hover {
    border: 1px solid #777;
}
/************************************************/

#content {
	margin: 10px auto;
	text-align: center;
	width: 330px;
}
#content p{	
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
}
@media only screen and (min-width: 1000px) {.ex{margin:10px 40px 10px 10px;}}
@media only screen and (min-width: 763px) and (max-width: 999px) {.ex{margin: 10px 5% 10px 7%;}}
@media only screen and (min-width: 451px) and (max-width: 762px) {.ex{margin: 10px 3% 10px 10%;width: 30%;}}
@media only screen and (min-width: 1px) and (max-width: 450px) {.ex{margin: 10px;width: 95%;}}
