body {
	background-color: rgba(178, 232, 232, 0.59);
}
#main {
    width: 100%;
}
.ex {
    width: 20%;
    min-width: 160px;
    border: 1px solid #ccc;
    display: inline-block;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
a {
    color: black;
}
a img {
    width: 100%;
}
a p {
    text-align: center;
    padding: 15px;
}
.ex:hover {
    border: 1px solid #777;
}
/************************************************/

#content {
	margin: 10px auto;
	text-align: center;
	width: 330px;
}
#content p{	
    max-width: 100%;
    height: auto;
    border: 2px solid #ccc;
}



