{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}<link rel=stylesheet href={% static 'main/css/watch.css' %}>{% endblock %}
{% block content %}
<div id="content">
    <p><img src={% static 'main/img/Omega/0509/a.jpg' %} width="320">海馬洗油保養，重點是這只錶有磁性，需要退磁</p>
    <p><img src={% static 'main/img/Omega/0509/b.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/c.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/d.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/e.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/f.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/g.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/h.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/i.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/j.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/k.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/l.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/m.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/n.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/Omega/0509/o.jpg' %} width="320"></p>
</div>
{% endblock %}