{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}
<link rel=stylesheet href={% static 'main/css/email.css' %}>{% endblock %}
{% block content %}
<style>
@media only screen and (max-width: 659px) {.main {width: 90%;}}
</style>
<div class="main">
    <div class="info">正時鐘錶維修中心</div>
    <form method="POST" action="" class="form-box"> {% csrf_token %}
        <input type="text" name="name" class="inp" placeholder="姓名"><br>
        <input type="text" name="email" class="inp" placeholder="電話"><br>
        <textarea name="message" class="inp" placeholder="請填寫預約日期或問題回報" rows="10" cols="50"></textarea><br>
        <input type="submit" name="submit" class="sub-mit" value="送出">
    </form>
</div>
{% endblock %}