{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}<link rel=stylesheet href={% static 'main/css/main.css' %}>{% endblock %}
{% block content %}
<style>
@media only screen and (min-width: 471px) {
    .sp {
        display: none;
    }
}
@media only screen and (max-width: 539px) {
    .p {display: none;}
    div.map div.mp img {position: relative;}
    .sp {display:block;text-align:center;}
}    
</style>
<div style="margin:10px;">
    <span style="font-size:19px;color:rgba(0,0,0,0.7);">
    手錶維修項目<br>
    - 調整手錶錶帶<br>
    - 手錶換錶帶<br>
    - 手錶換電池<br>
    - 手錶保養<br>
    - 手錶洗油保養<br>
    - 手錶起霧<br>
    - 石英錶維修<br>
    - 機械錶維修
    <br><br>
    檢修流程<br>
    - 將手錶拆開檢查<br>
    - 全面清潔<br>
    - 更換損壞零件<br>
    - 檢查磁性<br>
    - 檢查機芯零件(將機芯全部分解洗油保養)<br>
    - 重新組裝上油<br>
    - 手錶測試機芯，讓機芯跑上1-3天<br>
    - 測試手錶防水<br>
    - 超音波清潔<br>
    - 通知客人取回<br>
    </span>
    <hr size="2" color="#d0d0d0">
    <div class="map">
        <div class="mp"">
            <img src={% static 'main/img/googlemap1.jpg' %}>
            <div class="p">
                <div class="dp">
                    <p>正時鐘錶維修中心<br>0909-819-817<br>
                        <span class="dpt">一～五：11:00am - 20:00pm<br>六：11:00am - 18:00pm</span><br>
                        <a href="https://www.google.com.tw/maps/place/108%E5%8F%B0%E5%8C%97%E5%B8%82%E8%90%AC%E8%8F%AF%E5%8D%80%E5%A4%A7%E7%90%86%E8%A1%97157%E8%99%9F/@25.0341822,121.4941709,17z/data=!3m1!4b1!4m5!3m4!1s0x3442a9add271fd51:0xbe6782819da609d5!8m2!3d25.0341774!4d121.4963649" target="_blank">台北市萬華區大里街157號-15</a>                        
                    </p>
                </div>
            </div>
            <div class="sp">
                <p>正時鐘錶維修中心<br>0909-819-817<br>
                一～五：11:00am - 20:00pm<br>六：11:00am - 18:00pm<br>
                <a style="color:#444;" class="a" href="https://www.google.com.tw/maps/place/108%E5%8F%B0%E5%8C%97%E5%B8%82%E8%90%AC%E8%8F%AF%E5%8D%80%E5%A4%A7%E7%90%86%E8%A1%97157%E8%99%9F/@25.0341822,121.4941709,17z/data=!3m1!4b1!4m5!3m4!1s0x3442a9add271fd51:0xbe6782819da609d5!8m2!3d25.0341774!4d121.4963649" target="_blank">台北市萬華區大里街157號-15</a>                
                </p>
            </div>    
        </div>
    </div>
</div>
{% endblock %}