{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}<link rel=stylesheet href={% static 'main/css/watch.css' %}>{% endblock %}
{% block content %}
<style>
    @media only screen and (min-width: 1000px) {.ex{margin:10px 40px 10px 10px;}}
    @media only screen and (min-width: 763px) and (max-width: 999px) {.ex{margin: 10px 5% 10px 7%;}}
    @media only screen and (min-width: 451px) and (max-width: 762px) {.ex{margin: 10px 3% 10px 10%;width: 30%;}}
    @media only screen and (min-width: 1px) and (max-width: 450px) {.ex{margin: 10px;width: 95%;}}
</style>
<div id="main">
    <div class="ex">
        <a href={% url 'main:OTHER_0321' %}>
            <img src={% static 'main/img/OTHER/a.jpg' %}>
            <p>故障原因:進水.無法自動上鍊</p>
        </a>
    </div>
    <div class="ex">
        <a href={% url 'main:OTHER_0321' %}>
            <img src={% static 'main/img/OTHER/a.jpg' %}>
            <p>故障原因:進水.無法自動上鍊</p>
        </a>
    </div>
    <div class="ex">
        <a href={% url 'main:OTHER_0321' %}>
            <img src={% static 'main/img/OTHER/a.jpg' %}>
            <p>故障原因:進水.無法自動上鍊</p>
        </a>
    </div>
    <div class="ex">
        <a href={% url 'main:OTHER_0321' %}>
            <img src={% static 'main/img/OTHER/a.jpg' %}>
            <p>故障原因:進水.無法自動上鍊</p>
        </a>
    </div>
</div>

{% endblock %}