{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}<link rel=stylesheet href={% static 'main/css/watch.css' %}>{% endblock %}
{% block content %}
<div id="main">
    <div class="ex">
        <a href={% url 'main:OTHER_0321' %}>
            <img src={% static 'main/img/OTHER/0321/a.jpg' %}>
            <p>故障原因:進水.無法自動上鍊</p>
        </a>
    </div>
    <div class="ex">
        <a href={% url 'main:OTHER_0321' %}>
            <img src={% static 'main/img/OTHER/0321/a.jpg' %}>
            <p>故障原因:進水.無法自動上鍊</p>
        </a>
    </div>
    <div class="ex">
        <a href={% url 'main:OTHER_0321' %}>
            <img src={% static 'main/img/OTHER/0321/a.jpg' %}>
            <p>故障原因:進水.無法自動上鍊</p>
        </a>
    </div>
    <div class="ex">
        <a href={% url 'main:OTHER_0321' %}>
            <img src={% static 'main/img/OTHER/0321/a.jpg' %}>
            <p>故障原因:進水.無法自動上鍊</p>
        </a>
    </div>
</div>

{% endblock %}