{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}<link rel=stylesheet href={% static 'main/css/watch.css' %}>{% endblock %}
{% block content %}
<div id="content">
    <p><img src={% static 'main/img/OTHER/0321/a.jpg' %} width="320">故障原因:進水.無法自動上鍊</p>
    <p><img src={% static 'main/img/OTHER/0321/b.jpg' %} width="320">自動輪銹到齒輪一半沒了</p>
    <p><img src={% static 'main/img/OTHER/0321/c.jpg' %} width="320">好不容易找到這個一樣的自動輪(殺肉的)</p>
    <p><img src={% static 'main/img/OTHER/0321/d.jpg' %} width="320">這是還沒洗油前</p>
    <p><img src={% static 'main/img/OTHER/0321/e.jpg' %} width="320">分解後要開始洗澡了</p>
    <p><img src={% static 'main/img/OTHER/0321/f.jpg' %} width="320">洗好後乾淨多了</p>
</div>
{% endblock %}