{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}<link rel=stylesheet href={% static 'main/css/watch.css' %}>{% endblock %}
{% block content %}
<div id="content">
    <p><img src={% static 'main/img/ROLEX/0520/a.jpg' %} width="320">勞力士3135機芯，發條斷掉，更換新的發調</p>
    <p><img src={% static 'main/img/ROLEX/0520/b.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0520/c.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0520/d.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0520/e.jpg' %} width="320"></p>
</div>
{% endblock %}