{% extends "main/base.html" %}
{% load staticfiles %}
{% block heading %}<link rel=stylesheet href={% static 'main/css/watch.css' %}>{% endblock %}
{% block content %}
<div id="content">
    <p><img src={% static 'main/img/ROLEX/0519/a.jpg' %} width="320">這勞力士女錶銹的太嚴重了，要花不少錢來維修，錶如果真的有進水一定要進快去處理</p>
    <p><img src={% static 'main/img/ROLEX/0519/b.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0519/c.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0519/d.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0519/e.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0519/f.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0519/g.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0519/h.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0519/i.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0519/j.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0519/k.jpg' %} width="320"></p>
    <p><img src={% static 'main/img/ROLEX/0519/l.jpg' %} width="320"></p>
</div>
{% endblock %}